.mv-download-materiais.post {
	background: #FFF;
	border: 1px solid #CCCCCC;
	border-radius: 5px;
	font-family: Open Sans;
	overflow: visible;
	padding: 30px;
}
.mv-download-materiais.post p {
	margin: 0;
	padding: 0;
}
.mv-download-materiais.post .tarja {
	float: right;
	margin: -36px -37px 0 -55px;
	max-width: 150px;
}
.mv-download-materiais.post .texto {
	font-size: 22px;
	font-weight: bold;
	letter-spacing: -0.88px;
	line-height: 30px;
	margin-bottom: 30px;
}
.mv-download-materiais.post .botao {
	background: #91C83E;
	border: none;
	border-radius: 3px;
	color: #FFFFFF;
	font-weight: 600;
	font-size: 18px;
	letter-spacing: -0.18px;
	padding: 14px 30px;
	text-align: left;
}
.mv-download-materiais.post .botao img {
	display: inline;
	margin: 0 15px 0 0;
}
.mv-download-materiais.post .botao span {
	display: inline-block;
}
.mv-download-materiais.post .botao:hover {
	background: #7bad31;
}
#mv-modal-content {
	z-index: 100100;
}
#mv-modal-content .fechar {
	cursor: pointer;
	position: absolute;
	right: -10px;
	top: -10px;
	z-index: 100200;
}
#mv-modal-overlay {
	z-index: 100000;
}
.mv-modal {
	border: 1px solid #CCC;
	border-radius: 5px;
	background: #FFF;
	box-sizing: border-box;
}
.mv-modal iframe {
	border: none;
	border-radius: 3px;
	height: 100%;
	margin-bottom: 0;
	width: 100%;
}
.mv-modal-open {
	height: 100%;
	overflow-y: hidden;
	position: fixed;
}
@media all and (max-width: 960px) {
	.mv-modal {
		height: 95%;
		width: 95%;
	}
	.mv-download-materiais.post .texto {
		font-size: 20px;
	}
	#uglipop_popbox {
		-webkit-overflow-scrolling: touch !important;
		overflow-y: scroll !important;
		-webkit-transform: translateZ(0px) !important;
		-webkit-transform: translate3d(0,0,0) !important;
		-webkit-perspective: 1000 !important;
	}
}


/* Caixa do Curso Gratuito */
a.mv-curso-gratuito {
    display: block;
    text-decoration: none;
    margin-bottom: 20px;
    cursor: pointer;
}
a.mv-curso-gratuito .texto {
    color: #333;
}
.mv-download-materiais.post .botao.laranja {
    background: #F5A623;
    display: inline-block;
}
.mv-download-materiais.post .botao.laranja:hover {
    background: #d4891a;
}